* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    overflow-x: hidden;
    height: 200vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    color: white;
    font-size: 30px;
}

.cursor {
    position: absolute;
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}

.cursor.click::before {
    animation: click 1s ease-in-out forwards;
}


@keyframes click {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}
